<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!recipeForm.valid">Save</button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"/>
            <span
              class="help-block alert-danger"
              *ngIf="!recipeForm.get('name').valid && recipeForm.get('name').touched">
              <span *ngIf="recipeForm.hasError('required', 'name')">Recipe name is required!</span>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              formControlName="imagePath"
              class="form-control"/>
            <span
              class="help-block alert-danger"
              *ngIf="!recipeForm.get('imagePath').valid && recipeForm.get('imagePath').touched">
              <span *ngIf="recipeForm.hasError('required', 'imagePath')">Recipe URL is required!</span>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img
          src=""
          alt=""
          class="img-responsive"
          style="max-height: 250px"/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              id="description"
              formControlName="description"
              class="form-control"
              rows="6">
            </textarea>
            <span
              class="help-block alert-danger"
              *ngIf="!recipeForm.get('description').valid && recipeForm.get('description').touched">
              <span *ngIf="recipeForm.hasError('required', 'description')">Recipe description is required!</span>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label>Ingredients</label>
        </div>
      </div>
      <div class="row" formArrayName="ingredients">
        <div class="col-xs-12">
          <div
            class="row"
            *ngFor="let ingredientControl of controls; let i = index"
            [formGroupName]="i"
            style="margin-top: 5px;">
            <div class="col-xs-8">
              <!-- <label for="">Name</label> -->
              <input
                type="text"
                formControlName="name"
                class="form-control"/>
              <span
                class="help-block alert-danger"
                *ngIf="!ingredientControl.get('name').valid && ingredientControl.get('name').touched">
                <span *ngIf="ingredientControl.hasError('required', 'name')">Ingredient name is required!</span>
              </span>
            </div>
            <div class="col-xs-2">
              <!-- <label for="imagePath">Amount</label> -->
              <input
                type="number"
                formControlName="amount"
                class="form-control"/>
              <span
                class="help-block alert-danger"
                *ngIf="!ingredientControl.get('amount').valid && ingredientControl.get('amount').touched">
                <span *ngIf="ingredientControl.hasError('required', 'amount')">Ingredient amount is required!</span>
                <span *ngIf="ingredientControl.hasError('pattern', 'amount')">Ingredient amount must be greter than 0!</span>
              </span>
            </div>
            <div class="col-xs-2">
              <button
                type="button"
                class="btn btn-danger"
                (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success"
                (click)="onAddIngredient()">
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
